In [2]:
import requests
import json
from bs4 import BeautifulSoup as bs
import pandas as pd

Check concat file

In [3]:
shots = pd.read_csv('/home/axel/Code/Python/axel/streamlit/concat_files/concat_shots.csv')

In [3]:
shots.columns

Index(['id', 'eventType', 'teamId', 'playerId', 'playerName', 'x', 'y', 'min',
       'minAdded', 'isBlocked', 'isOnTarget', 'blockedX', 'blockedY',
       'goalCrossedY', 'goalCrossedZ', 'expectedGoals',
       'expectedGoalsOnTarget', 'shotType', 'situation', 'period', 'isOwnGoal',
       'onGoalShot', 'isSavedOffLine', 'isFromInsideBox', 'keeperId',
       'firstName', 'lastName', 'fullName', 'teamColor', 'matchRound',
       'teamName', 'h_a', 'source_file'],
      dtype='object')

Team with most shots at home

In [13]:
# Filter rows where h_a is 'h'
home_teams = shots[shots['h_a'] == 'h']

# Group by teamName and count occurrences
team_counts = home_teams['teamName'].value_counts()

# Get the team with the highest count
most_frequent_home_team = team_counts.idxmax()
count = team_counts.max()
print(f"The team with most 'h' appearances is {most_frequent_home_team} with {count} occurrences")

The team with most 'h' appearances is Cerro Porteño with 61 occurrences

Filter keepers

In [49]:
shots['keeperId'].nunique()

41

Filter goals

In [50]:
goals = shots[shots['eventType'] == 'Goal']
len(goals)

209

In [22]:
ownGoal = goals[goals['isOwnGoal'] == True]
len(ownGoal)

3

Filter by on target shots

In [63]:
isOnTarget = shots[shots['isOnTarget'] == True]

In [64]:
len(isOnTarget)

1196

Count teams

In [4]:
shots['teamId'].nunique()

32

Count unique players

In [65]:
shots['playerId'].nunique()

488

Count DF

In [66]:
len(shots)

2073

Avg xG

In [32]:
avg_expected_goals = shots['expectedGoals'].mean()
print(f"Average expectedGoals: {avg_expected_goals}")

Average expectedGoals: 0.09737349817459909

In [33]:
print(f"Average expectedGoals (2 decimals): {avg_expected_goals:.2f}")  # 0.10
print(f"Average expectedGoals (3 decimals): {avg_expected_goals:.3f}")  # 0.097

Average expectedGoals (2 decimals): 0.10
Average expectedGoals (3 decimals): 0.097

Check null values on columns | xG

In [62]:
def check_null_columns(df):
    null_columns = df.columns[df.isnull().any()]
    if null_columns.empty:
        print("No columns with null values.")
    else:
        print("Columns with null values:")
        for col in null_columns:
            print(f"{col}: {df[col].isnull().sum()} null values of {df.shape[0]} rows")

# Example usage
check_null_columns(shots)

Columns with null values:
minAdded: 1804 null values of 2073 rows
blockedX: 957 null values of 2073 rows
blockedY: 957 null values of 2073 rows
keeperId: 1340 null values of 2073 rows
firstName: 107 null values of 2073 rows

In [55]:
# check specific column NA
shots[shots['expectedGoals'].isnull()]

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,matchRound,teamName,h_a,source_file
1688,2815157049,Goal,192875,1349235,Luis Zarate,3.793103,35.29625,26,NaN,False,...,True,923383.0,Luis,Zarate,Luis Zarate,#201818,5,Independiente del Valle,a,river-plate-vs-independiente-del-valle.csv

In [56]:
# fill NA values with 0
shots['expectedGoals'] = shots['expectedGoals'].fillna(0.00)

In [57]:
# fill NA values with 0
shots['expectedGoalsOnTarget'] = shots['expectedGoalsOnTarget'].fillna(0.00)

In [11]:
# check specific column with NA
shots[shots['h_a'].isnull()]

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,matchRound,teamName,h_a,source_file
374,2798470541,Miss,6453,729089,Byron Castillo,77.191748,20.706242,62,NaN,False,...,False,NaN,Byron,Castillo,Byron Castillo,#DA0203,2,Barcelona de Guayaquil,NaN,river-plate-vs-barcelona-sc.csv
376,2798471685,Miss,6453,207135,Dixon Arroyo,94.385965,37.660000,67,NaN,False,...,True,NaN,Dixon,Arroyo,Dixon Arroyo,#DA0203,2,Barcelona de Guayaquil,NaN,river-plate-vs-barcelona-sc.csv

In [16]:
# find specific row
shots.loc[shots['id'] == 2798470541]

,id,eventType,teamId,playerId,playerName,x,y,min,minAdded,isBlocked,...,isFromInsideBox,keeperId,firstName,lastName,fullName,teamColor,matchRound,teamName,h_a,source_file
374,2798470541,Miss,6453,729089,Byron Castillo,77.191748,20.706242,62,NaN,False,...,False,NaN,Byron,Castillo,Byron Castillo,#DA0203,2,Barcelona de Guayaquil,a,river-plate-vs-barcelona-sc.csv

In [59]:
# Save new DF to CSV after cleaning
shots.to_csv('/home/axel/Code/Python/axel/streamlit/concat_files/concat_shots.csv', index=False)

Most shots taken

In [60]:
shots['teamName'].value_counts().sort_values(ascending=False)

# teams_df = shots['teamName'].value_counts().reset_index()
# teams_df.columns = ['teamName', 'count']
# teams_df.sort_values(by='count', ascending=False)

teamName
Olimpia                                  89
Cerro Porteño                            84
Racing Club                              82
River Plate                              78
Talleres de Córdoba                      78
Palmeiras                                76
Bolívar                                  76
Vélez Sarsfield                          76
Deportivo Táchira                        73
Alianza Lima                             71
Peñarol                                  69
Central Córdoba (Santiago del Estero)    68
Atlético Nacional                        68
Bahia                                    68
Botafogo                                 65
Estudiantes de La Plata                  64
São Paulo                                64
Universidad de Chile                     64
Fortaleza EC                             64
Nacional                                 62
Flamengo                                 61
Atlético Bucaramanga                     60
Sporting Cristal                         59
Barcelona de Guayaquil                   58
Universitario de Deportes                57
Independiente del Valle                  56
Colo-Colo                                56
Internacional                            53
LDU Quito                                50
San Antonio Bulo Bulo                    45
Libertad                                 40
Carabobo FC                              39
Name: count, dtype: int64

Filter by shots on target

In [5]:
target_shots = shots[shots['isOnTarget'] == True]
target_shots.shape

(1196, 33)

In [6]:
# target shots sort values from top to bottom
target_shots['teamName'].value_counts().sort_values(ascending=False)

teamName
Vélez Sarsfield                          54
Olimpia                                  54
Racing Club                              54
River Plate                              51
Palmeiras                                49
Alianza Lima                             44
Bolívar                                  43
Talleres de Córdoba                      43
Peñarol                                  42
Estudiantes de La Plata                  42
Central Córdoba (Santiago del Estero)    42
Cerro Porteño                            41
Botafogo                                 40
Atlético Nacional                        39
Nacional                                 39
Fortaleza EC                             38
Sporting Cristal                         38
Bahia                                    38
Universidad de Chile                     37
Flamengo                                 35
Internacional                            35
Deportivo Táchira                        33
São Paulo                                32
Atlético Bucaramanga                     32
Colo-Colo                                31
Barcelona de Guayaquil                   30
Universitario de Deportes                30
Independiente del Valle                  27
LDU Quito                                24
San Antonio Bulo Bulo                    21
Libertad                                 20
Carabobo FC                              18
Name: count, dtype: int64

In [8]:
# target shots sort values from top to bottom with index
target_shots.groupby('teamName')['isOnTarget'].count().reset_index(name='count').sort_values(by='count', ascending=False).reset_index(drop=True)

                                 teamName  count
0                                 Olimpia     42
1                         Vélez Sarsfield     36
2                                 Bolívar     34
3                             Racing Club     33
4                       Atlético Nacional     32
5                            Alianza Lima     31
6                               Palmeiras     29
7                 Estudiantes de La Plata     29
8                     Talleres de Córdoba     29
9                           Cerro Porteño     27
10                            River Plate     27
11  Central Córdoba (Santiago del Estero)     26
12                               Flamengo     23
13                   Atlético Bucaramanga     23
14                                  Bahia     23
15                               Nacional     22
16                              LDU Quito     21
17                          Internacional     20
18                 Barcelona de Guayaquil     20
19                               Botafogo     20
20                              São Paulo     19
21                       Sporting Cristal     19
22                           Fortaleza EC     18
23                Independiente del Valle     18
24                  San Antonio Bulo Bulo     18
25                                Peñarol     17
26                              Colo-Colo     17
27                   Universidad de Chile     16
28                               Libertad     15
29              Universitario de Deportes     14
30                      Deportivo Táchira     13
31                            Carabobo FC      9

Group by team & player id options

In [9]:
# Group by 'teamName' and 'playerId' and count occurrences
target_shots.groupby(['teamName', 'playerId']).size().reset_index(name='count')

# Now `grouped_counts_df` holds the result as a DataFrame
# You can print it to see the results:
# print(grouped_counts_df)

            teamName  playerId  count
0       Alianza Lima     18694      1
1       Alianza Lima     33101      5
2       Alianza Lima    127268      3
3       Alianza Lima    166121      1
4       Alianza Lima    200257      2
..               ...       ...    ...
324  Vélez Sarsfield    954660      1
325  Vélez Sarsfield   1083898      1
326  Vélez Sarsfield   1393542      1
327  Vélez Sarsfield   1607035      2
328  Vélez Sarsfield   1618860      7

[329 rows x 3 columns]

In [10]:
# Group by teamName and playerId, then get the first playerName for each group
target_shots.groupby(['teamName', 'playerId'])['playerName'].first().reset_index()

            teamName  playerId               playerName
0       Alianza Lima     18694            Hernan Barcos
1       Alianza Lima     33101      José Paolo Guerrero
2       Alianza Lima    127268  Pablo Damian Lavandeira
3       Alianza Lima    166121          Pablo Cepellini
4       Alianza Lima    200257          Fernando Gaibor
..               ...       ...                      ...
324  Vélez Sarsfield    954660        Matias Pellegrini
325  Vélez Sarsfield   1083898           Augustin Lagos
326  Vélez Sarsfield   1393542        Christian Ordonez
327  Vélez Sarsfield   1607035           Alvaro Montoro
328  Vélez Sarsfield   1618860            Maher Carrizo

[329 rows x 3 columns]

In [9]:
# Group by teamName and playerId, then aggregate:
# - Get the first playerName for the group
# - Get the size (count) of the group
target_shots.groupby(['teamName', 'playerId']).agg(
    playerName=('playerName', 'first'), # Get the first player name found in the group
    count=('playerId', 'size') # Count the number of rows in the group (using 'size') We apply 'size' to an arbitrary column like 'playerId'
).reset_index() # Turns the grouped output (with MultiIndex) back into a DataFrame

            teamName  playerId               playerName  count
0       Alianza Lima     33101      José Paolo Guerrero      1
1       Alianza Lima    127268  Pablo Damian Lavandeira      3
2       Alianza Lima    166121          Pablo Cepellini      1
3       Alianza Lima    200257          Fernando Gaibor      1
4       Alianza Lima    248704            Miguel Trauco      1
..               ...       ...                      ...    ...
256  Vélez Sarsfield    675102           Michael Santos      3
257  Vélez Sarsfield    723682           Agustin Bouzat      1
258  Vélez Sarsfield   1393542        Christian Ordonez      1
259  Vélez Sarsfield   1607035           Alvaro Montoro      1
260  Vélez Sarsfield   1618860            Maher Carrizo      4

[261 rows x 4 columns]

DS | Group by team & player id options

In [ ]:
# op 1 Group by team first, then show players
(target_shots.groupby(['teamName', 'playerId', 'playerName'])
    .size()
    .reset_index(name='count')
    .sort_values(['teamName', 'count'], ascending=[True, False]))

            teamName  playerId               playerName  count
6       Alianza Lima    831684            Kevin Quevedo      4
1       Alianza Lima    127268  Pablo Damian Lavandeira      3
7       Alianza Lima   1086550            Ricardo Lagos      2
8       Alianza Lima   1098460             Alan Cantero      2
10      Alianza Lima   1312034        Guillermo Enrique      2
..               ...       ...                      ...    ...
254  Vélez Sarsfield    523417          Emanuel Mammana      2
252  Vélez Sarsfield    288759        Francisco Pizzini      1
257  Vélez Sarsfield    723682           Agustin Bouzat      1
258  Vélez Sarsfield   1393542        Christian Ordonez      1
259  Vélez Sarsfield   1607035           Alvaro Montoro      1

[261 rows x 4 columns]

In [ ]:
# op 2 Create a hierarchical index (multi-index)
result = (target_shots.groupby(['teamName', 'playerId'])
           .agg(playerName=('playerName', 'first'),
                count=('playerId', 'size')))
# Keep it as a multi-index DataFrame (don't reset_index)
result

                                       playerName  count
teamName        playerId
Alianza Lima    33101         José Paolo Guerrero      1
                127268    Pablo Damian Lavandeira      3
                166121            Pablo Cepellini      1
                200257            Fernando Gaibor      1
                248704              Miguel Trauco      1
...                                           ...    ...
Vélez Sarsfield 675102             Michael Santos      3
                723682             Agustin Bouzat      1
                1393542         Christian Ordonez      1
                1607035            Alvaro Montoro      1
                1618860             Maher Carrizo      4

[261 rows x 2 columns]

In [8]:
# op 3 Format the output for better readability
result = (target_shots.groupby(['teamName', 'playerId'])
           .agg(playerName=('playerName', 'first'),
                count=('playerId', 'size'))
           .reset_index()
           .sort_values(['teamName', 'count'], ascending=[True, False]))

# Print with team headers
current_team = None
for _, row in result.iterrows():
    if row['teamName'] != current_team:
        print(f"\n=== {row['teamName']} ===")
        current_team = row['teamName']
    print(f"{row['playerName']}: {row['count']} shots")

result

=== Alianza Lima ===
Kevin Quevedo: 8 shots
José Paolo Guerrero: 5 shots
Pablo Damian Lavandeira: 3 shots
Fernando Gaibor: 2 shots
Eryc Castillo: 2 shots
Ricardo Lagos: 2 shots
Alan Cantero: 2 shots
Guillermo Enrique: 2 shots
Hernan Barcos: 1 shots
Pablo Cepellini: 1 shots
Miguel Trauco: 1 shots
Erick Noriega: 1 shots
Marco Huaman: 1 shots

=== Atlético Bucaramanga ===
Luciano Pons: 6 shots
Frank Castaneda: 5 shots
Carlos Henao: 4 shots
Fabian Sambueza: 3 shots
Kevin Londono: 2 shots
Sherman Cardenas: 1 shots
Leonardo Flores: 1 shots
Aldair Zarate: 1 shots

=== Atlético Nacional ===
Alfredo Morelos: 8 shots
Marino Hinestroza: 7 shots
Edwin Cardona: 3 shots
Dairon Asprilla: 3 shots
Felipe Roman: 2 shots
Kevin Viveros: 2 shots
Juan Zapata: 2 shots
William Tesillo: 1 shots
Jorman Campuzano: 1 shots
Juan Jose Arias: 1 shots
Kevin Parra: 1 shots
Elkin Rivero: 1 shots

=== Bahia ===
Luciano Rodriguez: 6 shots
Jean Lucas: 5 shots
Erick Pulga: 3 shots
Santiago Ramos: 2 shots
Willian José: 1 shots
Santiago Arias: 1 shots
Gilberto Junior: 1 shots
Cauly Oliveira Souza: 1 shots
Ademir Santos: 1 shots
Erick: 1 shots
Rodrigo Nestor: 1 shots

=== Barcelona de Guayaquil ===
Octavio Rivero: 6 shots
Janner Corozo: 4 shots
Cristhian Solano: 4 shots
Bryan Carabali: 2 shots
Dixon Arroyo: 1 shots
Gabriel Cortez: 1 shots
Jhonny Quinonez: 1 shots
Joaquin Valiente: 1 shots

=== Bolívar ===
Ramiro Vaca: 9 shots
Fabio Gomes: 7 shots
Jhon Velasquez: 4 shots
Leonel Justiniano: 3 shots
Carlos Melgar: 3 shots
Robson Matheus: 3 shots
Patricio Rodriguez: 2 shots
Erwin Saavedra: 1 shots
Jose Sagredo: 1 shots
Jesus Sagredo: 1 shots

=== Botafogo ===
Jefferson Savarino: 5 shots
Igor Jesus: 3 shots
Matheus Martins: 3 shots
Artur Guimaraes: 2 shots
Santiago Rodriguez: 2 shots
Gonzalo Mastriani: 1 shots
Alex Telles: 1 shots
Patrick Carneiro: 1 shots
Elias Manoel: 1 shots
Cuiabano: 1 shots

=== Carabobo FC ===
Gustavo Gonzalez: 2 shots
Edson Tortolero: 2 shots
Carlos Ramos: 2 shots
Robert Hernandez: 1 shots
Flabian Londono: 1 shots
Miguel Pernia: 1 shots

=== Central Córdoba (Santiago del Estero) ===
Leonardo Heredia: 6 shots
Jose Florentin: 5 shots
Luis Miguel Angulo: 4 shots
Nicolas Quagliata: 3 shots
Ivan Gomez: 2 shots
Matias Perello: 2 shots
Braian Cufré: 1 shots
Gaston Veron: 1 shots
Dylan Glaby: 1 shots
Fernando Martinez: 1 shots

=== Cerro Porteño ===
Cecilio Dominguez: 5 shots
Jonathan Torres: 5 shots
Federico Carrizo: 4 shots
Juan Iturbe: 2 shots
Gustavo Velazquez: 2 shots
Alan Benitez: 2 shots
Jorge Morel: 2 shots
Robert Piris: 1 shots
Gaston Claudio Gimenez: 1 shots
Guillermo Benitez: 1 shots
Leonardo Rivas: 1 shots
Gabriel Aguayo: 1 shots

=== Colo-Colo ===
Javier Correa: 8 shots
Lucas Cepeda: 4 shots
Alan Saldivia: 2 shots
Mauricio Isla: 1 shots
Esteban Pavez: 1 shots
Cristian Zavala: 1 shots

=== Deportivo Táchira ===
Carlos Sosa: 3 shots
Carlos Calzadilla: 3 shots
Juan Requena: 2 shots
Roberto Rosales: 1 shots
Mauro Angel Maidana: 1 shots
Lucas Cano: 1 shots
Daniel Saggiomo: 1 shots
José Balza: 1 shots

=== Estudiantes de La Plata ===
Guido Carrillo: 6 shots
Santiago Ascacibar: 5 shots
Tiago Palacios: 5 shots
Eric Meza: 3 shots
Ezequiel Piovi: 2 shots
Santiago Nunez: 2 shots
Jose Sosa: 1 shots
Ramiro Funes Mori: 1 shots
Gabriel Neves: 1 shots
Santiago Arzamendia: 1 shots
Cristian Medina: 1 shots
Gaston Benedetti: 1 shots

=== Flamengo ===
Giorgian De Arrascaeta: 4 shots
Bruno Henrique: 3 shots
Juninho: 3 shots
Luiz Araujo: 3 shots
Gérson: 2 shots
Gonzalo Plata: 2 shots
Éverton: 1 shots
Ayrton Lucas: 1 shots
Nicolás de la Cruz: 1 shots
Leo Ortiz: 1 shots
Wesley: 1 shots
Evertton Araujo: 1 shots

=== Fortaleza EC ===
Marinho: 3 shots
Moises Vieira: 3 shots
Lucas Sasha: 2 shots
Deyverson: 2 shots
Diogo Barbosa: 1 shots
Guillermo Fernandez: 1 shots
Yago Pikachu: 1 shots
Juan Martin Lucero: 1 shots
Dylan Borrero: 1 shots
Calebe: 1 shots
Eros Mancuso: 1 shots
Gustavo Mancha: 1 shots

=== Independiente del Valle ===
Jordy Alcivar: 4 shots
Claudio Spinelli: 3 shots
Jean Arroyo: 3 shots
Junior Sornoza: 2 shots
Juan Cazares: 2 shots
Aron Rodriguez: 2 shots
Jhegson Méndez: 1 shots
Luis Zarate: 1 shots

=== Internacional ===
Alan Patrick: 6 shots
Wesley: 4 shots
Vitinho: 3 shots
Enner Valencia: 2 shots
Braian Aguirre: 2 shots
Fernando: 1 shots
Rafael Santos Borre: 1 shots
Alexandro Bernabei: 1 shots

=== LDU Quito ===
Alex Arce: 4 shots
Bryan Ramirez: 4 shots
Leonel Quinonez: 3 shots
Lisandro Alzugaray: 2 shots
Alexander Alvarado: 2 shots
Michael Estrada: 1 shots
Ricardo Ade: 1 shots
Jose Quinteros: 1 shots
Gian Allala: 1 shots
Gabriel Villamil: 1 shots
Daniel de la Cruz: 1 shots

=== Libertad ===
Ivan Franco: 3 shots
Marcelo Fernandez: 2 shots
Adrian Alcaraz: 2 shots
Lorenzo Melgarejo: 1 shots
Diego Viera: 1 shots
Ivan Ramirez: 1 shots
Hernesto Caballero: 1 shots
Matias Espinoza: 1 shots
Hugo Martinez: 1 shots
Lucas Sanabria: 1 shots
Gustavo Aguilar: 1 shots

=== Nacional ===
Jeremia Recoba: 4 shots
Diego Herazo: 3 shots
Luciano Boggio: 3 shots
Eduardo Vargas: 2 shots
Romulo Otero: 2 shots
Nicolas Lopez: 2 shots
Yonathan Rodriguez: 2 shots
Sebastián Coates: 1 shots
Julian Millan: 1 shots
Christian Oliva: 1 shots
Lucas Villalba: 1 shots

=== Olimpia ===
Dario Benedetto: 7 shots
Derlis Gonzalez: 5 shots
Facundo Zabala: 4 shots
Ivan Leguizamon: 4 shots
Rodney Redes: 3 shots
Orlando Barreto: 3 shots
Alex Franco: 3 shots
Lisandro Lopez: 2 shots
Richard Ortiz: 2 shots
Alberto Espinola: 2 shots
Hugo Fernandez: 2 shots
Javier Dominguez: 2 shots
Lucas Pratto: 1 shots
Jesus Paredes: 1 shots
Hugo Benitez: 1 shots

=== Palmeiras ===
Estevao: 6 shots
Richard Rios: 4 shots
Jose Lopez: 4 shots
Felipe Anderson: 3 shots
Facundo Torres: 3 shots
Joaquin Piquerez: 2 shots
Emiliano Martinez: 2 shots
Allan: 2 shots
Gustavo Gomez: 1 shots
Lucas Evangelista: 1 shots
Mauricio: 1 shots

=== Peñarol ===
Leonardo Fernandez: 6 shots
Maximiliano Olivera: 2 shots
Hector Villalba: 2 shots
Jaime Báez: 2 shots
Alexander Machado: 2 shots
Ignacio Sosa: 2 shots
Pedro Milans: 1 shots

=== Racing Club ===
Adrian Martinez: 8 shots
Luciano Dario Vietto: 5 shots
Santiago Sosa: 3 shots
Maximiliano Salas: 2 shots
Gabriel Rojas: 2 shots
Agustin Almendra: 2 shots
Martin Barrios: 2 shots
Juan Ignacio Nardoni: 2 shots
Santiago Solari: 2 shots
Adrian Balboa: 1 shots
Federico Zaracho: 1 shots
Gaston Martirena: 1 shots
Marco Di Cesare: 1 shots
Ignacio Rodriguez: 1 shots

=== River Plate ===
Sebastian Driussi: 7 shots
Maximiliano Meza: 5 shots
Franco Mastantuono: 5 shots
Manuel Lanzini: 2 shots
Giuliano Galoppo: 2 shots
Facundo Colidio: 2 shots
Ignacio Fernandez: 1 shots
Paulo Diaz: 1 shots
Lucas Martinez Quarta: 1 shots
Santiago Simon: 1 shots

=== San Antonio Bulo Bulo ===
Julio Herrera: 6 shots
Hernan Rodriguez: 3 shots
Juan Montenegro: 2 shots
Jose Martinez: 2 shots
Carlos Suarez: 1 shots
Jorge Flores: 1 shots
Luis Barboza: 1 shots
Braian Salvareschi: 1 shots
Sebastian Viveros: 1 shots

=== Sporting Cristal ===
Santiago Gonzalez: 5 shots
Martin Tavara: 2 shots
Jesus Pretel: 2 shots
Irven Avila: 1 shots
Nicolás Pasquini: 1 shots
Christopher Gonzáles: 1 shots
Leandro Sosa: 1 shots
Gianfranco Chavez: 1 shots
Rafael Lutiger: 1 shots
Jostin Alarcon: 1 shots
Misael Sosa: 1 shots
Catriel Cabellos: 1 shots
Maxloren Castro: 1 shots

=== São Paulo ===
Luciano Neves: 4 shots
Lucas Ferreira: 4 shots
Alisson: 2 shots
Andre: 2 shots
Ferreira: 2 shots
Cédric Soares: 1 shots
Robert Arboleda: 1 shots
Jonathan Calleri: 1 shots
Marcos Antonio: 1 shots
Matheus Alves: 1 shots

=== Talleres de Córdoba ===
Cristian Alberto Tarragona: 4 shots
Emanuel Reynoso: 4 shots
Federico Girotti: 4 shots
Valentin Depietri: 4 shots
Juan Camilo Portilla: 4 shots
Nahuel Lautaro Bustos: 3 shots
Blas Riveros: 2 shots
Diego Ortegoza: 2 shots
Sebastian Palacios: 1 shots
Matias Galarza: 1 shots

=== Universidad de Chile ===
Lucas Di Yorio: 3 shots
Charles Aránguiz: 2 shots
Leandro Fernández: 2 shots
Matias Sepulveda: 2 shots
Javier Altamirano: 2 shots
Israel Poblete: 1 shots
Matias Zaldivia: 1 shots
Gonzalo Montes: 1 shots
Nicolás Ramirez: 1 shots
Nicolas Guerra: 1 shots

=== Universitario de Deportes ===
Edison Flores: 3 shots
Gabriel Costa: 2 shots
Alex Valera: 2 shots
Hugo Ancajima: 2 shots
Jairo Velez: 1 shots
Jose Rivera: 1 shots
Jairo Concha: 1 shots
Jose Carabali: 1 shots
Cesar Inga: 1 shots

=== Vélez Sarsfield ===
Braian Romero: 10 shots
Maher Carrizo: 7 shots
Michael Santos: 4 shots
Elias Gomez: 3 shots
Claudio Baeza: 2 shots
Emanuel Mammana: 2 shots
Agustin Bouzat: 2 shots
Alvaro Montoro: 2 shots
Francisco Pizzini: 1 shots
Matias Pellegrini: 1 shots
Augustin Lagos: 1 shots
Christian Ordonez: 1 shots

            teamName  playerId               playerName  count
7       Alianza Lima    831684            Kevin Quevedo      8
1       Alianza Lima     33101      José Paolo Guerrero      5
2       Alianza Lima    127268  Pablo Damian Lavandeira      3
4       Alianza Lima    200257          Fernando Gaibor      2
6       Alianza Lima    458861            Eryc Castillo      2
..               ...       ...                      ...    ...
327  Vélez Sarsfield   1607035           Alvaro Montoro      2
317  Vélez Sarsfield    288759        Francisco Pizzini      1
324  Vélez Sarsfield    954660        Matias Pellegrini      1
325  Vélez Sarsfield   1083898           Augustin Lagos      1
326  Vélez Sarsfield   1393542        Christian Ordonez      1

[329 rows x 4 columns]

In [ ]:
# op 4 Create separate DataFrames per team
team_groups = target_shots.groupby('teamName')
for team, group in team_groups:
    print(f"\n=== {team} ===")
    player_counts = group['playerName'].value_counts().reset_index()
    player_counts.columns = ['playerName', 'count']
    print(player_counts.to_string(index=False))

=== Alianza Lima ===
             playerName  count
          Kevin Quevedo      4
Pablo Damian Lavandeira      3
          Ricardo Lagos      2
      Guillermo Enrique      2
           Alan Cantero      2
          Eryc Castillo      1
           Marco Huaman      1
        Pablo Cepellini      1
          Miguel Trauco      1
    José Paolo Guerrero      1
        Fernando Gaibor      1

=== Atlético Bucaramanga ===
     playerName  count
Frank Castaneda      4
Fabian Sambueza      3
   Luciano Pons      2
  Kevin Londono      2
  Aldair Zarate      1
   Carlos Henao      1

=== Atlético Nacional ===
       playerName  count
Marino Hinestroza      7
  Alfredo Morelos      6
      Juan Zapata      2
    Edwin Cardona      2
    Kevin Viveros      2
  Dairon Asprilla      2
  Juan Jose Arias      1
     Felipe Roman      1
  William Tesillo      1

=== Bahia ===
          playerName  count
          Jean Lucas      5
   Luciano Rodriguez      3
      Santiago Ramos      2
         Erick Pulga      2
       Ademir Santos      1
     Gilberto Junior      1
               Erick      1
Cauly Oliveira Souza      1
      Santiago Arias      1
      Rodrigo Nestor      1

=== Barcelona de Guayaquil ===
      playerName  count
  Octavio Rivero      3
Cristhian Solano      3
  Bryan Carabali      2
   Janner Corozo      2
 Jhonny Quinonez      1
    Dixon Arroyo      1

=== Bolívar ===
       playerName  count
      Ramiro Vaca      6
    Carlos Melgar      3
   Jhon Velasquez      3
Leonel Justiniano      2
      Fabio Gomes      2
   Robson Matheus      2
     Jose Sagredo      1
   Erwin Saavedra      1

=== Botafogo ===
        playerName  count
Jefferson Savarino      4
Santiago Rodriguez      2
   Matheus Martins      2
 Gonzalo Mastriani      1
  Patrick Carneiro      1
          Cuiabano      1
        Igor Jesus      1
       Alex Telles      1
   Artur Guimaraes      1
      Elias Manoel      1

=== Carabobo FC ===
      playerName  count
    Carlos Ramos      2
Gustavo Gonzalez      2
 Flabian Londono      1
 Edson Tortolero      1
Robert Hernandez      1
   Miguel Pernia      1

=== Central Córdoba (Santiago del Estero) ===
        playerName  count
  Leonardo Heredia      4
    Jose Florentin      4
Luis Miguel Angulo      3
        Ivan Gomez      2
      Braian Cufré      1
 Fernando Martinez      1
    Matias Perello      1

=== Cerro Porteño ===
            playerName  count
       Jonathan Torres      5
          Alan Benitez      2
           Jorge Morel      2
     Guillermo Benitez      1
        Gabriel Aguayo      1
     Gustavo Velazquez      1
          Robert Piris      1
Gaston Claudio Gimenez      1
      Federico Carrizo      1

=== Colo-Colo ===
     playerName  count
  Javier Correa      6
  Alan Saldivia      2
   Lucas Cepeda      2
  Esteban Pavez      1
  Mauricio Isla      1
Cristian Zavala      1

=== Deportivo Táchira ===
       playerName  count
Carlos Calzadilla      2
      Carlos Sosa      2
       Lucas Cano      1
     Juan Requena      1
  Roberto Rosales      1
  Daniel Saggiomo      1
       José Balza      1

=== Estudiantes de La Plata ===
         playerName  count
 Santiago Ascacibar      4
     Tiago Palacios      3
     Guido Carrillo      3
     Santiago Nunez      2
     Ezequiel Piovi      2
          Eric Meza      2
          Jose Sosa      1
Santiago Arzamendia      1
  Ramiro Funes Mori      1

=== Flamengo ===
            playerName  count
           Luiz Araujo      3
        Bruno Henrique      2
               Juninho      2
                Gérson      2
Giorgian De Arrascaeta      2
         Gonzalo Plata      2
          Ayrton Lucas      1
       Evertton Araujo      1
             Leo Ortiz      1
                Wesley      1
    Nicolás de la Cruz      1

=== Fortaleza EC ===
        playerName  count
     Moises Vieira      3
           Marinho      3
       Lucas Sasha      2
Juan Martin Lucero      1
      Yago Pikachu      1
     Diogo Barbosa      1

=== Independiente del Valle ===
      playerName  count
     Jean Arroyo      3
   Jordy Alcivar      3
  Aron Rodriguez      2
    Juan Cazares      1
     Luis Zarate      1
  Jhegson Méndez      1
Claudio Spinelli      1

=== Internacional ===
    playerName  count
  Alan Patrick      5
        Wesley      2
       Vitinho      2
Braian Aguirre      2
Enner Valencia      2

=== LDU Quito ===
        playerName  count
         Alex Arce      4
     Bryan Ramirez      3
   Leonel Quinonez      2
Alexander Alvarado      2
Lisandro Alzugaray      1
 Daniel de la Cruz      1
   Michael Estrada      1
    Jose Quinteros      1

=== Libertad ===
       playerName  count
      Ivan Franco      2
Marcelo Fernandez      1
   Adrian Alcaraz      1
      Diego Viera      1
     Ivan Ramirez      1
    Hugo Martinez      1
   Lucas Sanabria      1
  Gustavo Aguilar      1

=== Nacional ===
        playerName  count
      Diego Herazo      3
    Luciano Boggio      2
    Eduardo Vargas      2
Yonathan Rodriguez      2
    Jeremia Recoba      2
      Romulo Otero      2
     Nicolas Lopez      1
   Christian Oliva      1

=== Olimpia ===
      playerName  count
 Dario Benedetto      4
 Orlando Barreto      3
 Ivan Leguizamon      3
   Richard Ortiz      2
Javier Dominguez      2
 Derlis Gonzalez      2
  Facundo Zabala      2
    Rodney Redes      2
     Alex Franco      1
  Lisandro Lopez      1
  Hugo Fernandez      1
    Hugo Benitez      1
   Jesus Paredes      1

=== Palmeiras ===
       playerName  count
          Estevao      5
     Richard Rios      4
  Felipe Anderson      3
       Jose Lopez      2
            Allan      2
   Facundo Torres      2
Lucas Evangelista      1
Emiliano Martinez      1
 Joaquin Piquerez      1
    Gustavo Gomez      1

=== Peñarol ===
         playerName  count
 Leonardo Fernandez      5
Maximiliano Olivera      2
    Hector Villalba      2
       Ignacio Sosa      2
  Alexander Machado      2
       Pedro Milans      1

=== Racing Club ===
          playerName  count
     Adrian Martinez      7
Luciano Dario Vietto      4
       Santiago Sosa      3
   Maximiliano Salas      2
    Agustin Almendra      2
     Santiago Solari      2
Juan Ignacio Nardoni      2
    Gaston Martirena      1
   Ignacio Rodriguez      1
       Gabriel Rojas      1
      Martin Barrios      1
     Marco Di Cesare      1
       Adrian Balboa      1

=== River Plate ===
           playerName  count
     Maximiliano Meza      5
   Franco Mastantuono      4
    Sebastian Driussi      3
           Paulo Diaz      1
      Facundo Colidio      1
Lucas Martinez Quarta      1
       Santiago Simon      1

=== San Antonio Bulo Bulo ===
        playerName  count
     Julio Herrera      4
     Jose Martinez      2
  Hernan Rodriguez      2
Braian Salvareschi      1
 Sebastian Viveros      1
      Luis Barboza      1
     Carlos Suarez      1

=== Sporting Cristal ===
       playerName  count
     Jesus Pretel      2
Santiago Gonzalez      2
    Martin Tavara      2
      Irven Avila      1
     Leandro Sosa      1
Gianfranco Chavez      1
 Catriel Cabellos      1
      Misael Sosa      1

=== São Paulo ===
      playerName  count
   Luciano Neves      3
  Lucas Ferreira      3
        Ferreira      2
         Alisson      2
 Robert Arboleda      1
   Cédric Soares      1
Jonathan Calleri      1
   Matheus Alves      1

=== Talleres de Córdoba ===
                playerName  count
      Juan Camilo Portilla      4
Cristian Alberto Tarragona      4
         Valentin Depietri      3
     Nahuel Lautaro Bustos      3
            Diego Ortegoza      2
           Emanuel Reynoso      2
              Blas Riveros      2
          Federico Girotti      2
        Sebastian Palacios      1
            Matias Galarza      1

=== Universidad de Chile ===
       playerName  count
   Lucas Di Yorio      2
  Nicolás Ramirez      1
   Israel Poblete      1
 Charles Aránguiz      1
  Matias Zaldivia      1
   Nicolas Guerra      1
 Matias Sepulveda      1
Leandro Fernández      1
Javier Altamirano      1

=== Universitario de Deportes ===
   playerName  count
Gabriel Costa      2
  Alex Valera      2
Edison Flores      1
 Jairo Concha      1

=== Vélez Sarsfield ===
       playerName  count
    Braian Romero      6
    Maher Carrizo      4
   Michael Santos      3
    Claudio Baeza      2
  Emanuel Mammana      2
Francisco Pizzini      1
Christian Ordonez      1
   Agustin Bouzat      1
   Alvaro Montoro      1

Top 10 players with most shots on target

In [11]:
target_shots.groupby(['playerName', 'teamName']).size().reset_index(name='Shots').sort_values('Shots', ascending=False).head(10)

            playerName           teamName  Shots
31       Braian Romero    Vélez Sarsfield     10
291        Ramiro Vaca            Bolívar      9
19     Alfredo Morelos  Atlético Nacional      8
163      Javier Correa          Colo-Colo      8
3      Adrian Martinez        Racing Club      8
209      Kevin Quevedo       Alianza Lima      8
249  Marino Hinestroza  Atlético Nacional      7
95         Fabio Gomes            Bolívar      7
314  Sebastian Driussi        River Plate      7
242      Maher Carrizo    Vélez Sarsfield      7